@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    margin:0px 20px;
    padding:0px 20px;
}

.logo{
    width:300px;
}
.nav-li-container{
    display: flex;
    gap: 30px;
    margin-right: 120px;
    
}
.nav-li-container li{
    list-style: none;
    font-size: 20px;

}
.nav-li-container li a{
    text-decoration: none;
    font-weight: 600;
    color:#562F00;
    padding-right: 30px;
   
}
.nav-li-container li a:hover{
    border-bottom: 3px solid #562F00;
     
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* main-banner-section */
.main-banner-section{
    border:1px solid red;
    height: 800px;
}
.banner-img{
    width: 600px;
}