@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.logo{
    width:300px;
}
.nav-li-container{
    display: flex;
    gap: 30px;
}
.nav-li-container li{
    list-style: none;
    font-size: 30px;
}
.nav-li-container li a{
    text-decoration: none;
    font-weight: 600;
    color:#562F00;
}
.nav-li-container li a:hover{
    border-bottom: 3px solid #562F00;
}